<a href="https://colab.research.google.com/github/Rakshit323/batch-50_python/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1=[3,4,5,6,7,8]
l1.insert(2,10)
print(l1)

[3, 4, 10, 5, 6, 7, 8]

In [ ]:
l2=["sajal",7.5,"sajid",1]
l2.remove(7.5)
print(l2)

['sajal', 'sajid', 1]

In [ ]:
sum=0
l1=[]
for i in range(50):
 sum=sum+i
print(sum)
l1.append(sum)

1225

In [ ]:
l1=[]
for i in range(11):
 i=i**2
 l1.append(i)
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
l2=[1,2,"Abc",[5,8,"c"],6,9,0.0,True]
l3=l2[2]
print(l3)

Abc

In [ ]:
list_1=[1,2,3,5,12,14]
for i,Index in enumerate(list_1):
 print(Index," is at index no : ",i)

1  is at index no :  0
2  is at index no :  1
3  is at index no :  2
5  is at index no :  3
12  is at index no :  4
14  is at index no :  5

In [ ]:
list_1=[1,2,3,5,12,14]
for i in range(len(list_1)):
 print("index of i is : ",i)

index of i is :  0
index of i is :  1
index of i is :  2
index of i is :  3
index of i is :  4
index of i is :  5

In [ ]:
l2=[]
for i in range(20,1000):
 sum=0
 num=i
 org=i
 while(num>0):
  d=num%10
  sum=sum+(d**3)
  num=num//10
 if(sum==org):
  l2.append(i)
print(l2)

[153, 370, 371, 407]

In [1]:
l1=[i for i in range(11)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
l1=[i for i in range(20) if i%2==0]
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
#wap to insert prime numbers to a list using list comprehension
l1=[i for i in range(1,20) for j in range(2,int(i**0.5)+1) if i>1 and i%j!=0 ]
print(l1)

[5, 7, 9, 10, 11, 11, 13, 13, 14, 15, 16, 17, 17, 17, 18, 19, 19, 19]

In [13]:
l1=[num**2 for num in range(10,20)]
print(l1)

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [19]:
l1=[num for num in range(1000) if num%3==0 if num%5==0 if num%7==0]
print(l1)

[0, 105, 210, 315, 420, 525, 630, 735, 840, 945]