<a href="https://colab.research.google.com/github/Rakshit323/batch-50_python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("welcome to python")

welcome to python

In [ ]:
print("welcome to pyhton")
a=10.5

keywords and identifiers***

In [ ]:
a=10+10#single line statement
print(a)
#multi line statement
a=10+10+\
20+20+20+\
30+10+20
print(a)

20
140

In [ ]:
print("Users can now import Gemini API keys from AI Studio into their user secrets, all in Colab (tweet)."\
"Increased limit to 1000 characters for requests to Gemini in Chat and Generate windows.")

Users can now import Gemini API keys from AI Studio into their user secrets, all in Colab (tweet).Increased limit to 1000 characters for requests to Gemini in Chat and Generate windows.

In [ ]:

l1=['a',
    'e',
    'i',
    'o',
    'u'
   ]
l1

['a', 'e', 'i', 'o', 'u']

In [ ]:
mystring= "'hi , my name is rakshit' \n 'and i am working in UPES'"

In [ ]:
num1=int(input("enter first number"))
num2=int(input("enter second number"))
sum=(num1*num2)
sum

enter first number10
enter second number20

200

In [ ]:
num1=float(input("enter first number"))
num2=int(input("enter second number"))
sum=(num1*num2)
sum

enter first number10.0
enter second number20

200.0

In [19]:
a=17
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)
print(a>b)
print(a<b)
print(a&b)
print(a|b)
print(~a)
print(~b)
print(a^b)
print(a>>1)
print(a<<1)
print(b>>1)
print(a<<1)
if ( (a>b)and(a==b) ) :
 print("success")
else :
 print("fail")
if ( (a>b)or(a==b) ) :
 print("success")
else :
 print("fail")

20
14
51
5.666666666666667
2
5
4913
False
True
True
False
True
False
1
19
-18
-4
18
8
34
1
34
fail
success

In [ ]:
20==30

False

In [ ]:
20!=30

True

In [ ]:
#write a program to use input function ,take two variables,add subtract multiply or divide as required